.button {
	width: 100px;
	height: 40px;
	margin: 10px auto;
	font-size: 20px;
	font-weight: 900;
	line-height: 40px;
	text-align: center;
	color: #005100;
	background-color: #6eff6e;
	border: 3px solid #3bb13b;
	border-radius: 5px;
}
.button:hover {
	background-color: #9bff9b;
}
.button:active {
	height: 36px;
	line-height: 36px;
	border: 5px solid #3bb13b;
}

.stats {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}

.stat_box {
	float: left;
	font-size: 26px;
	font-weight: 900;
	margin: 0 5px 0 0;
	border-top:  #7E7E7E 10px solid;
	border-right:  #A9A9A9 10px solid;
	border-bottom:  #BDBDBD 10px solid;
	border-left:  #888888 10px solid;
}

#mine_counter_number, #clock_number {
	float: right;
	font-size: 26px;
	font-weight: 900;
	background: white;
	padding: 0 5px;
}

.field {
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}

.settings {
	width: 1200px;
	margin: 0 auto;
}

.option {
	margin: 10px 0 0 0;
	display: block;
}

.option_text {
	width: 150px;
	line-height: 25px;
	display: inline-block;
}

.option_range {
	margin-right: 10px;
	vertical-align: middle;
	line-height: 25px;
	display: inline-block;
}

.range_number {
	line-height: 25px;
	display: inline-block;
}

.clickable {
	cursor: pointer;
}

.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}